
.dbUpdate {
    padding: 8px;
    border-radius: 5px;
    background: #2b2b2b;
    color: white;
    display:inline-block;

    &.active {
        background: #3A7734;
        color: black;
    }
}

.totalPlayTime {
    line-height: 40px;
    font-size: 1.3rem;
}