
@import "../Vars";

button {
    &.clearQueue, &.toggle, &.removeItem {
        border: none;
        border-radius: 2px;
        padding: 7px;
        cursor: pointer;
    }

    &.clearQueue, &.toggle {
        font-size: 1.1rem;
    }

    &.clearQueue {
        background: #b02c40;
        color: white;
        margin-right: 20px;
    }

    &.toggle {
        background: #bed4e1;
        width: 156px;
        margin-right: 3px;
        color: black;
        &.enabled {
            background: #3ae429;
        }
    }
}

.queueItem {
    background: $color-list-item;
    padding: 7px 10px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;

    > * {
        display: inline-block;
        vertical-align: middle;
    }

    &.selected {
        background: #0c8b00;
    }

    &:hover {
        border: 2px solid $color-text-dark;
        padding: 5px 8px;
    }
}

.songInfo {
    width: 400px
}

.trackTitle {
    font-weight: bold;
}

.trackDetails {
    font-size: 0.9rem
}

.removeItem {
    background: $color-button;
    color: white;

    &:hover {
        background: $color-button-hover;
        font-weight: bold;
    }
}