
$color-bg: #242424;

$color-text-dark: #e3e3e3;
$color-list-item: #3d3d3d;

$color-playback-bar: #161616;
$color-bg-nav: $color-playback-bar;

$color-button: #101010;
$color-button-hover: #6b6b6b;

$nav-bar-width: 180px;
$status-bar-height: 100px;
