[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
"rpi.gpio" = "*"
jsonschema = "*"
fastapi = "*"
"uvicorn[standard]" = "*"

[dev-packages]
pytest = "*"
black = "<50.*"
isort = "*"
pytest-cov = "*"
flake8 = "*"

[requires]
python_version = "3.7"
